.page-footer {
  padding: 10px;
  background-color: #1B1C1C;
  font-family: 'Audiowide', cursive;
  grid-area: footer;
}

.copyright-container {
  color: #f5ff00;
}

.grey-text.text-lighten-4 {
  color: #f5ff00 !important;
}