body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  background-color: #1B1C1C;
}

.copyright-container {
  color: #f5ff00;
}

.grey-text.text-lighten-4 {
  color: #f5ff00 !important;
}